USE [master]
GO
/****** Object:  Database [QLBanhang]    Script Date: 8/22/2020 7:42:12 AM ******/
CREATE DATABASE [QLBanhang]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBanhang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBanhang]
GO
USE [QLBanhang]
GO
/****** Object:  Table [dbo].[HangHoa]    Script Date: 8/22/2020 7:42:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangHoa](
	[MaHang] [char](6) NOT NULL,
	[TenHang] [nvarchar](50) NOT NULL,
	[MaLoaiHang] [int] NOT NULL,
	[ThuongHieu] [nvarchar](30) NOT NULL,
	[GiaBan] [money] NOT NULL,
	[GiaVon] [money] NOT NULL,
	[TonKho] [int] NOT NULL,
	[TrongLuong] [nvarchar](10) NOT NULL,
	[MoTaKhac] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiHangHoa]    Script Date: 8/22/2020 7:42:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiHangHoa](
	[MaLoaiHang] [int] NOT NULL,
	[TenLoaiHang] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
